.login {
  //   background-color: rgba($color: #79a3b1, $alpha: 0.2);
  background-image: linear-gradient(
    to right,
    rgba($color: #79a3b1, $alpha: 0.9),
    white
  );

  .coloco-logo-container {
    text-align: center;
    margin-bottom: 0.5rem;

    img {
      width: 30%;
    }
  }

  .card {
    border-radius: 0.5rem;
    border: 0px;
  }
}
